*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    height: 500px;
    width: 500px;
    
    
    background-color: green;
    border: 3px solid red;

}

.box{
    margin: 30px;
    text-align: center;
    height: 100px;
    width: 100px;
    border: 2px solid orange;
    background-color: aqua;
}

.box:hover{
    background-color: yellow;
    transition: all 2s linear;

    transform: translate(200px) rotate(1440deg);
   

}